.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 100%;
    flex-direction: row;
}
.right{
    position: relative;
}
.logsIMg{
    
    border-radius: 50%;
    width: 500px;
    height: 500px;

}
.heroText{
    font-size: 50px;
    font-weight: 700;
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.blackCircle1{
    position: absolute;
    /* top: 13%; */
    width: 150px;
    height: 150px;
    background-color: #2E2E2E;
    border-radius: 50%;
    z-index: -1;
}
.blackCircle2{
    position: absolute;
    top: 80%;
    left: -150px;
    width: 150px;
    height: 150px;
    background-color: #2E2E2E;
    border-radius: 50%;
    z-index: -1;
}
.heroLower{
    margin-top: 30px;
    font-size: 30px;
    width: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



@media (max-width: 768px) {
    .hero-container{
        flex-direction: column;
        height: 100vh;
        align-self: center;
    }
    .logsIMg{
        width: 300px;
        height: 300px;
    }
    .heroText{
        font-size: 40px;
    }
    .heroLower{
        font-size: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .blackCircle1{
        width: 100px;
        height: 100px;
    }
    .blackCircle2{
        display: none;
    }
    .heroTextCover{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}