.log-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .log-table th,
  .log-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
  }
  
  .log-table th {
    background-color: #f2f2f2;
  }
  
  .log-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .log-table tr:hover {
    background-color: #ddd;
  }
  
  /* Apply text wrapping for specific fields */
  .log-table td.request_path,
  .log-table td.user_agent,
  .log-table td.referrer,
  .log-table td.error_message,
  .log-table td.log_message {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px; /* Adjust as needed */
  }

  .searchFileda{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
    gap: 20px;
  }
  .log-table td.user_agent::after{
    content: "\a";
    white-space: pre;
  }
  .heading{
    font-size: 40px;
    text-align: center;
    color: brown;
}
.select{
    padding: 1%;
    color: brown;
    font-size: 15px;
    border: 2px solid brown;
    border-radius: 5px;
}
.field-selector {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  max-width: 450px;
  column-count: 3;
  column-gap: 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.field-selector h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.field-selector label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.field-selector input[type="checkbox"] {
  margin-right: 5px;
}
.section2{
  margin: 10px auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data {
  overflow-x: auto; 
}
.VF{
  color: brown;
}