.topCover{
    margin-top: 30px;
    margin-bottom: 20px;
}
.log-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .log-table th,
  .log-table td {
    padding: 5px;
    border: 1px solid brown;
    text-align: left;
    /* vertical-align: top; */
  }
  
  .log-table th {
    background-color: #fbeee0;
    color: brown;
  }
  
  .log-table tr:nth-child(even) {
    background-color: #fbeee0;
  }

  .log-table td.request_path,
  .log-table td.user_agent,
  .log-table td.referrer,
  .log-table td.error_message,
  .log-table td.log_message {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px; 
  }

  .searchFileda{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
    gap: 20px;
  }
  .log-table td.user_agent::after{
    content: "\a";
    white-space: pre;
  }
  .heading{
    font-size: 30px;
    text-align: center;
    color: brown;
}
.select{
    padding: 1%;
    color: brown;
    font-size: 15px;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: #fbeee0;
}
.select:active{
  border: 2px solid brown;
}
.field-selector {
  padding: 10px;
  margin-top: 20px;
  max-width: 700px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.field-selector .button-74{
  margin: 3px;
}
.field-selector .not_selected{
  padding: 0 25px;
  background-color: #fff;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: brown;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 41px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transform: translate(2px, 2px);
  margin: 3px;
}
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: brown;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  padding: 0 18px;
  line-height: 41px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    /* min-width: 120px; */
    padding: 0 25px;
  }
}
.submit-button{
  background-color: brown;
  border: 2px solid;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #fbeee0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  padding: 0 38px;
  line-height: 41px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.submit-button:hover{
  background-color: #fbeee0;
  color: brown;

}
.show{
  background-color: brown;
  border: 2px solid;
  border-radius: 30px;
  /* box-shadow: #422800 4px 4px 0 0; */
  color: #fbeee0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 10px;
  padding: 7px 18px;
  /* line-height: 11px; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.field-selector h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.field-selector label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.section2{
  margin: 10px auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data {
  margin-top: 30px;
  overflow-x: auto; 
}
.VF{
  color: brown;
}