.log-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .log-table th,
  .log-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
  }
  
  .log-table th {
    background-color: #f2f2f2;
  }
  
  .log-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .log-table tr:hover {
    background-color: #ddd;
  }
  
  /* Apply text wrapping for specific fields */
  .log-table td.request_path,
  .log-table td.user_agent,
  .log-table td.referrer,
  .log-table td.error_message,
  .log-table td.log_message {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px; /* Adjust as needed */
  }

  .searchFileda{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
    gap: 20px;
  }
  .log-table td.user_agent::after{
    content: "\a";
    white-space: pre;
  }
  .heading{
    font-size: 40px;
    text-align: center;
    color: brown;
}
.select{
    padding: 1%;
    color: brown;
    font-size: 15px;
    border: 2px solid brown;
    border-radius: 5px;
}
